.optiweb-main-slider-config {
    .sw-tabs__custom-content {
        padding: 0;
    }
    .sw-field, .sw-media-field {
        margin-bottom: 16px;
    }
    .sw-media-upload-v2__preview img{
        width: 100%;
        height: 100%;
    }
}
