
.header-logo {
    &-main-link {
        text-align: left;
    }

    &-col {
        min-width: 130px;
    }
}

.header-actions {
    &-col {
        padding-left: 0;
        padding-right: 14px;

        @include media-breakpoint-down(md) {
            padding-right: 0;
        }

        .icon {
            color: $ow-color-black;
        }
    }

    &-btn {
        padding-inline: 6px;
    }
}

.header-search {
    max-width: 100%;

    @include media-breakpoint-up(lg) {
        width: 400px;
    }

    &-col {
        @include media-breakpoint-up(md) {
            padding-inline: 31px 26px;
        }
    }

    &-form {
        .header-search-input {
            padding-left: 44px;
            border: 0;
            background: $ow-color-grey-border;

            &::placeholder {
                color: $ow-color-black;
            }
        }

        .btn {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 44px;
            z-index: 6;
            border: 0;
            text-overflow: unset;

            .icon {
                width: 20px;
                height: 20px;
                color: $ow-color-black;
            }
        }

        .header-search-btn {
            background: $ow-color-grey-border;
        }
    }
}

.list-group-item {
    background: none;
}
