.ow-mega-menu {
    @media (min-width: 992px) {
        position: static;
        > a.nav-link.active {
            color:$ow-color-black !important;
            .main-navigation-link-text {
                border:none !important;
            }
        }
        .icon-ow-nav-button {
            vertical-align: middle;
            svg {
                top:-1px;
            }
        }

        .dropdown-menu {
            width: 100%;
            max-width: none;
            padding-block: 1.5rem;
        }

        .navigation-flyout-content {
            position: relative;
            min-height: 260px;
        }

        .navigation-flyout-categories {
            margin: 0;

            &.is-level-0,
            &.is-level-1,
            &.is-level-2,
            &.is-level-3,
            &.is-level-4 {
                .navigation-flyout-col {
                    margin-bottom: 0;

                    &:before {
                        display: none;
                    }

                    .nav-item {
                        @include fontSpecs(14, 20, 400);
                        color: $ow-color-black;
                        padding-block: 0.5rem;
                        padding-inline: 1rem;
                        margin: 0;

                        &.is-active,
                        &:hover {
                            text-decoration: underline;
                            color: inherit;
                            font-weight: 700;
                        }
                    }
                }
            }

            &.is-level-0 {
                position: relative;
                width: 25%;
                padding-right: 1rem;
                .navigation-flyout-col {
                    position: static;
                }
                .navigation-icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    margin-right: 0.75rem;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            &.is-level-1,
            &.is-level-2,
            &.is-level-3,
            &.is-level-4 {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                padding-inline: 1rem 0;
                overflow: visible;
                display: none;
                left:100%;
                border-left: 1px solid #EBEBEB;
                &.is-visible {
                    display: block;
                }
            }
        }

        .navigation-flyout-link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;

            .link-icon {
                margin-left: auto;
                color: $ow-color-grey-7;
            }

            &.is-active {
                font-weight: 700;

                .link-icon,
                .icon {
                    color: $ow-color-black;
                }
            }
        }
    }
}
