.is-act-home #content-main > .container-main {
    padding-top: 0;
}

.contact-section {

    .full-width {
        background: linear-gradient(90deg, $ow-color-black 0%, rgba(0, 0, 0, 0.00) 100%);
        padding-inline: 0;
    }

    .cms-block-text-button {
        @include padding('top', 130, true);
        @include padding('bottom', 130, true);
        padding-inline: calc(#{$bs-gutter-x} / 2);
        max-width: $content-width;
        margin-right: auto;
        margin-left: auto;
    }

    h2, h3, p, a {
        color: $ow-color-white;
    }

    .btn {
        color: $ow-color-black;
    }
}

.youtube-section {
    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }
}