.cms-element-product-listing-actions {
    .col-md-auto {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.cms-element-product-listing .cms-listing-row {
    @include media-breakpoint-down(md) {
        --bs-gutter-x: 15px;
        --bs-gutter-y: 15px;
    }
}