@import "../../../sivanka-service-shared";

.sw-cms-el-preview-sivanka-icon-card {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 16px;
    background: $sivanka-cms-tint;
    border-radius: 4px;

    &__icon {
        width: 26px;
        height: 26px;
        border-radius: 6px;
        background: $sivanka-cms-primary;
    }

    &__title {
        width: 60%;
        height: 8px;
        border-radius: 2px;
        background: $sivanka-cms-primary;
    }

    &__text {
        width: 100%;
        height: 6px;
        border-radius: 2px;
        background: $sivanka-cms-border;
    }
}
