
body:not(.modal-open) .gallery-slider-row {
    gap: 1rem;
    margin-bottom: 1rem;

    > div {
        width: 100%;
    }

    .gallery-slider-col {
        order: 1 !important;
    }

    .gallery-slider-item img {
        margin: 0;
        height: 100%;
    }

    .tns-inner, #tns2 {
        width: 100%;
        margin: 0 !important;
    }

    .gallery-slider-thumbnails {
        --gap: 1rem;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: var(--gap);

        #tns2-iw {
            margin: 0;
        }

        &-container {
            width: 100%;
        }

        &-col {
            order: 2 !important;
            padding-right: 20px;
        }

        &-item {
            width: calc(25% - var(--gap) + (var(--gap) / 4)) !important;
            padding-right: 0 !important;
            padding-bottom: 0 !important;
            height: auto;
            border: 1px solid $ow-color-white;

            &.tns-nav-active, &:hover {
                border: 1px solid $ow-color-base;
            }

            &-inner {
                position: relative;
                height: 0;
                padding-bottom: calc(82 / 142 * 100%) !important;
                padding-top: 0;
                padding-inline: 0 !important;
                overflow: hidden;
                border: 0;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .gallery-slider-col {
        .gallery-slider-item-container {
            padding: 0 !important;
        }

        .gallery-slider-item {
            margin: 0 1px;

            img {
                width: 100%;
            }
        }
    }

    .base-slider-dots, .gallery-slider-controls {
        display: none;
    }

    .gallery-slider-single-image {
        min-height: auto !important;

        img.gallery-slider-image {
            position: relative;
            width: 100%;
        }
    }
}