.sw-cms-preview-category-slider {

    .flex-container-preview {
        display: flex;
        justify-content: space-between;

        .content-preview {
            position: relative;
            display: block;
            min-height: 80px;
            padding: 5px;
        }


    }
}

