.sw-cms-el-config-banners {
  &__header { display: flex; justify-content: space-between; align-items: center; margin: 12px 0; }
  &__items { display: grid; gap: 12px; }
  &__item { border: 1px solid #d1d9e0; padding: 12px; border-radius: 4px; }
  &__item-head { display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px; }
  &__url { margin-bottom: 22px; }
  &__position-row { display: grid; grid-template-columns: 1fr 1fr; gap: 8px; }
}
