.sw-cms-preview-sivanka-hero {
    &__inner {
        height: 60px;
        background: linear-gradient(95deg, #FBE7EF, #F7EDE8);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 600;
        color: #A02B6B;
    }
}
