.sw-cms-el-title-content-button {
    margin: 0 0 20px;

    button {
        background: #F0B83A;
        border-radius: 8px;
        padding: 10px;
        color: #253241;
        font-weight: 700;
        text-align: center;
        margin-block: 20px;
        display: inline-block;
    }
}
