.cms-block-sivanka-product-slider {
    max-width: $wide-content-width;
    margin-inline: auto;
    padding-inline: 0;
    margin-bottom: 2rem;

    .icon > svg,
    .icon > svg path {
        fill: $ow-color-black;
    }

    .content {
        @include fontSpecs(14, 20, 400, false, false);

        p, h5 {
            margin: 0;
        }
    }

    .cms-element-title-paragraph {
        margin-bottom: 2rem;
        margin-top: 0.6rem;
    }
    .sivanka-product-slider-wrapper {
        .row {
            align-items: stretch !important;
        }
        
        .col-md-3 {
            display: flex;
        }
    }
    
    .sivanka-product-slider-left-image {
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.product-slider {
    &-wrapper {
        max-width: $content-width;
        margin-inline: auto;
    }

    &-item {
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: center;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &-image-wrapper {
        position: relative;
        height: 150px;

    }

    &-arrow {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        background: $ow-color-white;
        font-size: 0;
        padding: 0.5rem;

        svg {
            top: 0;
        }
    }

    &-icon {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        z-index: 1;

        img {
            width: 100%;
        }
    }

    .content {
        margin-top: 0.75rem;
    }

    &-controls {
        position: relative;
        height: 0;

        .icon {
            width: calc(#{$nav-button-size} - 2 * 8px);
            height: calc(#{$nav-button-size} - 2 * 8px);

            svg {
                top: 0;
            }
        }
    }

    &-controls-prev {
        right: $nav-button-size;
    }

    &-controls-next {
        right: 0;
    }

    &-controls-prev,
    &-controls-next {
        position: absolute;
        left: unset;
        top: unset;
        bottom: calc(#{$nav-button-size} / 2);
        padding: 8px;
        width: $nav-button-size;
        height: $nav-button-size;
        line-height: normal;
        transform: none;
        transition: opacity 0.15s ease;
        cursor: pointer;
        background: $ow-color-white;
        border: 1px solid $ow-color-white;

        &:hover {
            border: 1px solid $ow-color-base;

            svg, svg path {
                fill: $ow-color-base;
            }
        }
    }
}


